{% extends 'hospital/doctor_base.html' %}
{% block content %}
{% load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin-top: 50px;
    }

    .search-box {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }

    .search-input {
      flex: 1;
      margin-right: 10px;
    }

    .btn-search {
      margin-left: 10px;
    }

    .btn-group {
      margin-top: 20px;
    }
  </style>
</head>


<div class="container">

  <div class="row">
    <div class="col-md-2">
      <div class="search-box">
        <!-- Search bar -->
        <!-- <input type="text" class="form-control search-input" placeholder="Search here..."> -->
        <!-- Search button -->
        <!-- <button class="btn btn-primary btn-search">Search</button> -->
      </div>
    </div>
    <div class="col-md-4">
      <!-- <a href="/doctor-add-patient" class="btn btn-primary">Add Patient</a> -->
      <a href="/doctor-appointment" class="btn btn-primary">Back</a>
      <a href="/doctor-add-appointment" class="btn btn-primary">Add Appointment</a>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-11" style="margin-left: 15rem;">
      <div class="card">
        <div class="card-block">
          <div class="table-responsive">
            <table class="table table-hover" id="dev-table">
              <thead>
                <tr>
                  <th>Patient Name</th>
                  <th>Doctor Name</th>
                  <th>Appointment Date</th>
                  <th>Description</th>
                  <th>Status</th>
                  <!-- <th>Update</th>
                  <th>Delete</th> -->
                  <th style="
                padding-left: 2.4rem;
            ">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for appointment in appointments %}
                <tr>
                  <td>{{ appointment.patient }}</td>
                  <td>{{ appointment.doctor }}</td>
                  <td>{{ appointment.appointmentDate }}</td>
                  <td>{{ appointment.description }}</td>
                  <td>{{ appointment.status }}</td>
                  <!-- <td><a class="btn btn-primary btn-xs" href="{% url 'update-appointment' appointment.id %}"><span
                        class="glyphicon glyphicon-edit"></span></a></td>
                  <td>
                    <form action="{% url 'delete-appointment' appointment.id %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="delete_appointment" value="from_view" />
                      <button type="submit" class="btn btn-danger btn-xs"><span
                          class="glyphicon glyphicon-trash"></span></button>
                    </form>
                  </td> -->
                  <td>
                    <form action="{% url 'update-appointment' appointment.id %}" style="display: inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-info"><i class="fas fa-pencil-alt"></i></button>
                    </form>
                    <form action="{% url 'delete-appointment' appointment.id %}" method="post" style="display: inline;">
                      {% csrf_token %}
                      <input type="hidden" name="delete_appointment" value="from_dash" />
                      <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}