{% extends 'hospital/doctor_base.html' %}
{% block content %}

<head>
  <style media="screen">
    .note {
      text-align: center;
      height: 80px;
      background: #0072ff;
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }
  </style>
</head>

<div class="container">
  <div class="d-flex justify-content-end mb-3">
    <a href="/doctor-add-medicine" class="btn btn-primary">Add Medicine</a>
    <a href="/doctor-medicine" class="btn btn-primary">Back</a>
  </div>
  <div class="form">
    <div class="note">
      <p>Medicine List</p>
    </div>
    <!-- Display the medicine data in a table -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Update</th>
          <th>Delete</th>
          <!-- Add other fields as needed -->
        </tr>
      </thead>
      <tbody>
        {% for medicine in medicine %}
        <tr>
          <td>{{ medicine.name }}</td>
          <td>{{ medicine.description }}</td>
          <td>
            <form action="{% url 'update-medicine' pk=medicine.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-info"><i class="fas fa-pencil-alt"></i> Update Medicine</button>
            </form>
          </td>
          <td>
            <form action="{% url 'delete-medicine-from-doctor' pk=medicine.pk %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="delete_doctor" value="from_view"/>
              <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
            </form>
          </td>
          <!-- Add other fields as needed -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
