{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVOICE</title>
</head>
<style>
    body {
        margin: 0;
    }

    table {
        width: 100%;
    }

    p {
        font-size: 14px;
    }
</style>

<body>
    <table style="border-bottom: 1px solid #d9e1e6;">
        <tr>
            <td style="width: 250px;">
                <img src="./static/images/H_logo.png" alt="Profile Pic" width="200px" height="200px">
                <!-- <h2>Hirani Homoepathic <br/>Clinic</h2> -->
            </td>
            <td style="text-align: right;
                color: rgb(10, 10, 10);
                margin: 0">
                <h2 style="font-size: 20px; padding-bottom: 0.1rem; margin: 0;">Dr Manthan Hirani</h2>

                <p style="font-size: 16px; margin: 0;"> V D High School Rd, Indira Nagar,Bhuj<br>
                    Gujarat 370001<br>
                    Timings : 9:30am to 1:30pm & 4:00pm to 8:00pm<br>
                </p>
            </td>
        </tr>
    </table>
    <table style="border-bottom: 1.5px solid #1b4965; padding: 12px; width: 100%;">
        <tr>
            <td colspan="2"
                style="text-align: center; padding-top: 8px; font-size: 22px; border-bottom: 1.5px solid #1b4965;">
                Patient Details
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <p style="margin: 0; padding: 0.4rem;"><strong>Name:</strong> {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</p>
                <p style="margin: 0; padding: 0.4rem;"><strong>Mobile:</strong> {{ appointment.patient.mobile }}</p>
                <p style="margin: 0; padding: 0.4rem;"><strong>Address:</strong> {{ appointment.patient.address }}</p>
            </td>
            <td style="vertical-align: top;">
                <p style="margin: 0; padding: 0.4rem;"><strong>Symptoms:</strong> {{ appointment.patient.symptoms }}</p>
                <p style="margin: 0; padding: 0.4rem;"><strong>Date:</strong> {{ appointment.appointmentDate }}</p>
                <p style="margin: 0; padding: 0.4rem;"><strong>Time:</strong> {{ appointment.appointmentTime }}</p>
            </td>
        </tr>
    </table>

    <!-- 
    <table>
        <div style="margin-top: 10px;"><h1>medicine Details</h1></div>
        <tr>
            <td>
                {% if appointment_notes %}
                {% for medicine_name in appointment_notes %}
                <p style="font-size: 14px;">
                    {{ medicine_name|hide_digits_before_second_dash }}
                </p>
                {% endfor %}
                {% else %}
                <p>No notes available.</p>
                {% endif %}
            </td>
        </tr>
    </table> -->

    <table>
        <div style="margin-top: 10px;">
            <h1>Medicine Details</h1>
        </div>
        <tr>
            <td>
                <!-- hospital/get_receipt.html -->
                <!-- Add this section to your template where you want to display the staff checked medicines -->
                    {% for medicine in appointment_notes_staff %}
                    <p style="font-size: 12px;">{{ medicine }}</p>
                    {% endfor %}
                </ul>

            </td>
        </tr>
    </table>


    <hr>
    <p style="margin: 0; padding: 0.4rem;"><strong>Note: </strong>{{ appointment.add_note }}</p>
    <!-- <p style="margin: 0; padding: 0.4rem;"><strong>Note: </strong>{{ appointment.staff_check_medicine }}</p> -->
</body>

</html>